#app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .full {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        z-index: 1000;
    }

    .tray {
        position: absolute;
        top: 64px;
        left: 0;
        bottom: 0;
        width: 64px;
    }

    .tabs {
        position: absolute;
        top: 64px;
        left: 64px;
        right: 0;
        height: 64px;
        &.has-tray {
            left: 64px;
        }
    }

    .view {
        position: absolute;
        top: 64px; 
        right: 0;
        bottom: 0;
        left: 0;

        overflow-y: hidden;

        &.view-scroll {
            overflow-y: scroll;
        }

        &.has-tray {
            left: 64px;
        }

        &.has-tabs {
            top: 128px;
        }

        .empty {
            max-width: 640px;
            margin: 32px auto;
            padding: 32px;
            text-align: center;
            color: #888;
            font-size: 140%;
        }

        // keep to a useful width
        .content {
            max-width: 640px;
            margin: 32px auto;
            padding: 32px;

            &>h1:first-child {
                margin-top: 0;
            }

            h1 {
                text-align: center;
            }
        }

        // put a background on it
        .panel {
            max-width: 640px;
            background: #fff;
            margin: 32px auto;
            padding: 32px;

            &>h1:first-child {
                margin-top: 0;
            }

            h1 {
                text-align: center;
            }
        }


    }

}