#app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .full {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        z-index: 1000;
    }

    .tray {
        position: absolute;
        top: 64px;
        left: 0;
        bottom: 0;
        width: 64px;
    }

    .tabs {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        height: 64px;
        &.has-tray {
            left: 64px;
        }
    }

    .sidebar {
        position: fixed;
        top: 64px;
        left: 0;
        width: 320px;
        bottom: 0;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border-right: 1px solid #eee;
    }

    .view {
        position: absolute;
        top: 64px; 
        right: 0;
        bottom: 0;
        left: 0;

        overflow-y: hidden;

        &.content {
            padding: 16px 32px;
            background: #fff;
            overflow-y: auto;
        }


        &.view-scroll {
            overflow-y: scroll;
        }


        &.view-docs {
            padding: 0 32px 16px 32px;
            background: #fff;
        }

        &.has-tray {
            left: 64px;
        }

        &.has-tabs {
            top: 128px;
        }

        &.has-sidebar {
            left: 320px;
        }

        .empty {
            max-width: 640px;
            margin: 32px auto;
            padding: 32px;
            text-align: center;
            color: #888;
            font-size: 140%;
        }

        .wrap {
            width: 960px;
            margin: 32px auto;
            overflow: auto;

            .sidebar {
                display: inline-block;
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
                float: left;
                width: 312px;
                box-shadow: none;
            }

            .panel {
                margin: 0;
                display: inline-block;
                float: right;
            }
        }


        // put a background on it
        .panel {
            max-width: 640px;
            background: #fff;
            margin: 32px auto;
            padding: 32px;

            &>h1:first-child {
                margin-top: 0;
            }

            h1 {
                text-align: center;
            }
        }


    }

}