.dataset {
    position: relative;

    div.holder {
        height: 0;
    }

    table {
        width: 100%;
        color: #444;

        td, th {
            color: #666;
            text-align: left; 
            border-bottom: 1px solid #ddd;
            padding: 8px;
            &.check {
                width: 32px;
                text-align: center;
            }
            &.numeric {
                text-align: right;
            }
        }

        td {
            a {
            }
        }

    }

}