.center {
    text-align: center;
}

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.space-before {
    margin-top: 1.3em;
}

.space-after {
    margin-bottom: 1.3;
}
