.selector {
    background: #ddd;
    height: 64px;
    position: relative;

    .option {
        display: inline-block;
        float: right;
        margin: 12px;
    }

    ul.switch {
        list-style: none;
        margin: 12px;
        padding: 0;
        display: inline-block;
        float: left;
        font-size: 10pt;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            a {
                display: block;
                width: 128px;
                padding: 12px;
                color: #fff;
                background: #666;
                text-decoration: none;
                font-weight: bold;
                text-align: center;

                &:hover {
                    background: #eee;
                    color: #111;
                }
            }

            &.active a {
                background: #fff;
                color: #111;
            }

        }
    }


    button {
        border-radius: 3px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        color: #666;
        &:hover {
            color: #000;
            background: #fff;
        }
    }

    input[type=text] {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        &:focus {
            background: #fff;
        }
    }
    
    .filter {
        position: absolute;
        top: 12px;
        left: 12px;
        
        input[type=text] {
            width: 240px;
        }
        
        button {
            width: 32px;
            padding: 9px;
            margin-left: 4px;
        }

    }


}