.splash {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #69c;
    color: #fff;
    text-align: center;
    font-size: 160%;
    padding: 64px 32px;

    h1 { 
        color: #fff;
    }

}