*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 10pt;
    background: #eee;
}

html {
    overflow-y: scroll;
}


body {
    color: #444;
}

h1 {
    font-size: 16pt;
    margin: 0.66em 0;
    color: #888;
}

h2 {
    font-size: 14pt;
    margin: 0.66em 0;
    color: #888;
}

h3 {
    font-size: 12pt;
    margin: 0.66em 0;
    color: #666;
}

h4 {
    font-size: 10pt;
    margin: 0.66em 0;
    color: #888;
}

h1, h2, h3, h4 {
    &:firsrt-child {
        margin-top: 0;
    }
}

h1, h2, h3, h4 {
    &:first-child {
        margin-top: 0;
    }
}

p {
    margin: 0.66em 0;
}

a {
    color: #444;
}
